@charset "UTF-8";

body {
  margin: 0 auto;
}

/* hader */

.rogo {
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 0;
}

.haikei {
  height: auto;
  width: 100%;
  position: relative;
  z-index: -1;
  animation: fadein 2s ease-out forwards;
  display: block;
}

li {
  list-style: none;
}

nav ul{
  display: flex;
  justify-content: flex-end;
}

nav li{
  padding: 0px 50px;
}

nav {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

nav a {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a:hover {
  background-color: rgb(108, 108, 108);
}

/* main */

.none{
  max-width: 300px;
}

.two {
  width: 75%;
}

.seven {
  width: 75%;
}

.team , .schedule ,.members ,.contact {
  text-align: center;
}

section {
  padding: 2rem;
  width: 100%;
  margin: auto;
  background-color: white;
  margin-bottom: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.karenda {
  width: 100%;
  height: 600px;
}

.bold {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}

.right {
  margin-left: 100px;
}

.home {
  display: flex;
  justify-content: center;
}

/* footer */

footer {
  color: white;
  background-color: black;
  text-align: center;
  padding: 2px;
}

/* animation */

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* レスポンシブ */

@media screen and (max-width: 1175px) {
  .none {
    display: none;
  }
  
  .home {
    margin-left: 40px;
    display: flex;
  }

  section {
    max-width: 650px;
    background-color: white;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  }

  .right {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1090px) {
  section {
    max-width: 500px;
    background-color: white;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  }
}

@media screen and (max-width: 940px) {
  .home {
    margin: 0;
    flex-direction: column;
  }
}

@media screen and (max-width: 881px) {
    nav a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
  }

  nav li{
    padding: 0px 30px;
  }
}

@media screen and (max-width: 764px) {
  section {
    max-width: 500px;
    background-color: white;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  }

  p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 661px) {
  nav a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
  }

  nav li{
    padding: 0px 10px;
  }
}

@media screen and (max-width: 566px) {
  section {
    max-width: 300px;
    background-color: white;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  }

  .bold {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 501px) {
  nav a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
  }

  nav li{
    padding: 0px 5px;
  }

  nav a {
    display: block;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {

  .rogo {
    position: absolute;
    height: 75px;
    width: 75px;
    z-index: 0;
  }

  nav ul{
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  nav li{
    padding: 0px 5px;
  }

  nav a {
    display: block;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
  }

  section {
    max-width: 300px;
    background-color: white;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  }

  .home {
    margin: 0;
    flex-direction: column;
  }

  aside {
    margin-left: 0px;
  }

  .bold {
    font-size: 1rem;
    font-weight: bold;
  }

}

@media screen and (max-width: 365px) {
  .rogo {
    position: absolute;
    height: 45px;
    width: 45px;
    z-index: 0;
  }

  section {
    max-width: 300px;
    background-color: white;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    padding: 0;
  }

  .right {
    display: none;
  }
}